In [9]:
"""a=1
b=str(a)

print(type(b))"""

a=1
print(type(str(a)))

<class 'str'>

In [6]:
def calculator():
    z=int(input("Enter \n1 for addition\n2 for subtraction\n 3 for multiplication \n 4 for division\n 5 for Exit:"))
          
    if z==1:
        a1=int(input("Enter value 1:"))
        b1=int(input("Enter value 2:"))
        print("Sum of the two is:",a1+b1)
        return calculator()

    elif z==2:
        a2=int(input("Enter value 1:"))
        b2=int(input("Enter value 2:"))
        print("Subtraction of the two is:",a2-b2)
        return calculator()

    elif z==3:
        a3=int(input("Enter value 1:"))
        b3=int(input("Enter value 2:"))
        print("multiplication of the two is:",a3*b3)
        return calculator()

    elif z==4:
        a4=int(input("Enter value 1:"))
        b4=int(input("Enter value 2:"))
        print("division of the two is:",a4/b4)
        return calculator()

    elif z==exit:
        exit()

calculator()

Enter
1 for addition
2 for subtraction
 3 for multiplication
 4 for division
 5 for Exit: 1
Enter value 1: 24
Enter value 2: 26

Sum of the two is: 50

Enter
1 for addition
2 for subtraction
 3 for multiplication
 4 for division
 5 for Exit: 5

In [25]:
a=int(input("Enter number 1:"))
b=int(input("Enter number 2:"))
c=int(input("Enter number 3:"))
average=(a+b+c)/3
Sum=a+b+c
print("Sum of numbers are:",Sum)
print("Average of numbers are:",average)

avg=(average>50)
print(avg)
if Sum%5==0:
    print("Sum is divisible by 5")

Enter number 1: 24
Enter number 2: 36
Enter number 3: 20

Sum of numbers are: 80
Average of numbers are: 26.666666666666668
False
Sum is divisible by 5

In [15]:
a={"Amit":34,
"Aman":38,
"Amar":25}

# print(a[34])

item=a.values()

print(item)
print(a)

dict_values([34, 38, 25])
{'Amit': 34, 'Aman': 38, 'Amar': 25}

In [20]:
a=4
b=2
print(a>b and a%b==0)
print(a>b or a%b==0)
print(not(a>b))

True
True
False

In [33]:
a=[6,5,4,2]
for x in a:
    print(x)

6
5
4
2

In [42]:
a=int(input("Enter num1:"))
b=int(input("Enter num2:"))
c=a+b
d=a*b

print("Addition if numbers are:",c)
print("Multiplication of numbers are:",d)

if c==d: print("Numbers are equal")

else: print("Numbers are not equal")

if a>b:print("Num1 is greater than num2")

else: print("Num1 is not greater than num2")

list=[10,20,30,40,50]

if a and b in list: print("Both numbers are in list")
else:print("Both numbers are not in list")

if a in list:print("Num1 is in list")
else:print("Num1 is not in list")

if b in list:print("Num2 is in list")
else:print("Num2 is not in list")

Enter num1: 10
Enter num2: 25

Addition if numbers are: 35
Multiplication of numbers are: 250
Numbers are not equal
Num1 is not greater than num2
Both numbers are not in list
Num1 is in list
Num2 is not in list

In [41]:
a=6
b=6
print(a is b)

True

In [22]:
#### name=input("Enter name of the product:\t").lower()

Harpic_price=250
Dettol_price=30
Tide_price=300

if "harpic" in name:
    quantity=int(input("Enter the quantity:\t"))
    bill=quantity*Harpic_price
    print(f"Your bill of harpic of quantity {2} is ${bill}")

else:
    print("Cart empty")

if "dettol" in name:
    quantity=int(input("Enter the quantity:\t"))
    bill=quantity*Dettol_price
    print(f"Your bill of dettol of quantity {2} is ${bill}")

else:
    print("Cart empty")

if "tide" in name:
    quantity=int(input("Enter the quantity:\t"))
    bill=quantity*Tide_price
    print(f"Your bill of tide of quantity {2} is ${bill}")

else:
    print("Cart empty")

Enter the quantity:	 harpic,dettol and tide

ValueError: invalid literal for int() with base 10: 'harpic,dettol and tide'

In [9]:
a=int(input("Enter 1st"))
b=int(input("Enter 2nd"))
c=float(input("Enter 3rd"))

sum=a+b+c
print(f"Sum of {a}, {b} and {c} are {sum}")

d=input("Enter a name:")
e=int(input("Enter a number"))
sum=d+str(e)

print(f"Sum of {d} and {e} are {sum}")

Enter 1st 5
Enter 2nd 5
Enter 3rd 5

Sum of 5, 5 and 5 are 15

Enter a name: mannan
Enter a number 60

Sum of mannan and 60 are mannan60

In [17]:
name=input("Enter name:\t")
age=int(input("Enter age:\t"))
if age>=18:
    print(f"{name}, you are eligible to vote")

elif age<18 and age>0:
    print(f"{name}, you are not eligible to vote")

elif age<1:
    print(f"{name}, are you alien!")

Enter name:	 kanishk
Enter age:	 0

kanishk,are you alien!

In [23]:
x = 10
if x > 5:
    print('A')
elif x > 3:
    print('B')
else:
    print('C')

A

In [25]:
if (x > 10): then print('High')

SyntaxError: invalid syntax (4127196723.py, line 1)

In [32]:
num=int(input("Enter number"))

if num > 0:
    print(f"{num} is a positive number.")
elif num < 0:
    print(f"{num} is a negative number.")
else:
    print(f"{num}")

Enter number 0

0

In [39]:
age=int(input("Enter age:\t"))

if age<=13 or age<18:
    print("Teen")

elif age>=18:
    print("Adult")

Enter age:	 18

Adult

In [41]:
num=int(input("Enter number"))

if num%2==0:
    print(f"{num} is even")

else:
    print(f"{num} is odd")

Enter number 4

4 is even

In [49]:
a=int(input("Enter marks out of 100\n:"))


if (a>90):
    print("A")
elif (a>75):
    print("B")
elif (a>60):
    print("C")
else:
    print("fail")

Enter marks out of 100
: 61

C

In [69]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a > b:
    if a > c:
        print("Greatest number is:", a)
    else:
        print("Greatest number is:", c)
else:
    if b > c:
        print("Greatest number is:", b)
    else:
        print("Greatest number is:", c)

Enter first number:  45
Enter second number:  67
Enter third number:  89

Greatest number is: 89

In [57]:
a=90.7
print(int(a))

90

In [64]:
a=input("Enter:\t")
length=len(a)
if len(a)>=5:
    print(f"Length of {a} is >= 5")

else:
    print(f"Length of {a} is < 5")

Enter:	 manan

Length of manan is >= 5

In [68]:
a=int(input("Enter marks:\t"))

if a >= 40:
    print("Pass")

else:
    print("Fail")

Enter marks:	 39

Fail

In [94]:
#5! = 5x4x3x2x1

a=int(input("Enter number:"))
m=1

for i in range(1,a+1):
    m=m*i
    print(m)
print(f"{a}! = {m}")

Enter number: 6

6! = 720

In [7]:
a=2
j=1

while j<=10:
    m=a*j
    print(f"{a} X {j }= {m}")
    j+=1

2 X 1= 2
2 X 2= 4
2 X 3= 6
2 X 4= 8
2 X 5= 10
2 X 6= 12
2 X 7= 14
2 X 8= 16
2 X 9= 18
2 X 10= 20

In [1]:
i=3
password="mannan"

while i<=3 and i>=0:
    a=input("Enter password:")
    
    if password!=a:
        print(f"Wrong password. {i} attempts left")
        i-=1

    elif password==a:
        print("Unlocked")
        break

    elif i==0:
        print("Phone locked")
    i-=1

Enter password: m'

Wrong password. 3 attempts left

Enter password: mannan

Unlocked

In [3]:
i=8
password="mannan"

while i<=8 and i>=0:
    a=input("Enter password:")

    if i==2 and password!=a:
        print(f"Wrong password. {i} attempts left")
        print("Phone locked")
        break

    elif i==4:
        print("Skipped")
        i-=1
        continue

    elif password==a:
        print("Unlocked")
        exit()
    
    elif password!=a:
        print(f"Wrong password. {i} attempts left")
        
    i-=1

Enter password: mannan

Unlocked

Enter password: m

Wrong password. 7 attempts left

Enter password: m

Wrong password. 6 attempts left

Enter password: m

Wrong password. 5 attempts left

Enter password: m

Skipped

Enter password: m

Wrong password. 3 attempts left

Enter password: m

Wrong password. 2 attempts left
Phone locked

In [31]:
m=int(input("Factorial:"))
f=m

for i in range(1,m):
    f=f*i

print(f"{m}! = {f}")

Factorial: 5

5! = 120

In [34]:
a=4
b=5
print(a|b)

13

In [7]:
#Q1. Write a Python program to check if a number is divisible by both 3 and 7

a=int(input("Enter a value"))

if a%3==0 and a%7==0:
      print(f"{a} is divisible by 3 and 7")

else:
    print(f"{a} is not divisible by 3 and 7")

Enter a value 21

21 is divisible by 3 and 7

In [3]:
#Q2. Write a program to print all even numbers between 1 and 100 using a for loop.

for i in range(1,101):
    i/2
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [9]:
#Q3. Write a Python program to input three numbers and print the greatest one using nested if-else.

a=int(input("Enter a value"))
b=int(input("Enter a value"))
c=int(input("Enter a value"))

if a>b:
    if a>c:
        print(a)
    else:
        print(c)

if b>a:
    if b>c:
        print(b)
    else:
        print(c)

Enter a value 45
Enter a value 47
Enter a value 46

47

In [10]:
#Q4. WAP to print numbers from 50 to 1 in reverse using a while loop.

i=50

while i>0:
    print(i)
    i-=1

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [13]:
#Q5. WAP to take a number and print its multiplication table up to 10.

m=int(input("Enter a value"))

for i in range(1,11):
    a=m*i
    print(f"{m} X {i} = {a}")

Enter a value 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [15]:
#Q6. Write a program to count how many numbers between 1 to 100 are divisible by 5.

m=int(input("Enter a value"))
i=0

if m%5==0:
    for i in range(1,101):
        i+=1

print(i)

Enter a value 5

101

In [18]:
#Q7. WAP to check whether a given year is a leap year.

year=int(input("Enter year:"))

if year%4==0:
    print(f"{year} is a leap year")

else:
    print(f"{year} is not a leap year")

Enter year: 2016

2016 is a leap year

In [ ]:
#Q8. WAP to print the factorial of a number using for loop.

m=int(input("Factorial:"))
f=m

for i in range(1,m):
    f=f*i

print(f"{m}! = {f}")

In [21]:
#Q9. WAP to check if a number is positive, negative or zero using if-elif-else.

m=int(input("Enter value:"))

if m>0:
    print(f"{m} is positive")

if m<0:
    print(f"{m} is negitive")

if m==0:
    print(f"{m} is zero")

Enter value: -1

-1 is negitive

In [27]:
#Q10. WAP to take a number as input and print whether it's even and greater than 10.

a=int(input("Enter year:"))

if a%2==0 and a>10:
    print(f"{a} is a even number and greater than 10")

else:
    print(f"{a} is not a even number and greater than 10")

Enter year: 14

14 is a even and greater than 10

In [32]:
#Q11. WAP to print only those numbers between 1 to 50 which are not divisible by 3 (use continue).

for i in range(1,51):
    if i%3==0:
        print(i)
        if i==6:
            continue

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [42]:
#Q12. WAP to print characters of a string one by one and stop when 'z' is encountered (use break).

a = "Mannan"

for i in a:
    print(i)

M
a
n
n
a
n

In [47]:
#Q13. WAP to count the number of digits in a number using while loop.

num = int(input("Enter a number: "))
count = 0

if num == 0:
    count = 1
else:
    while num != 0:
        num = num // 10
        count += 1

print("Number of digits:", count)

Enter value: 4557

4557
4557
4557
4557

In [2]:
#Q14. WAP to reverse a given number (e.g., 5432 → 2345)

# for i in range(5432,2344,-1):
#     print(i)

In [41]:
#Q15. WAP to take 5 numbers as input and print their average

a=int(input("Enter a value"))
b=int(input("Enter a value"))
c=int(input("Enter a value"))
d=int(input("Enter a value"))
e=int(input("Enter a value"))

print((a+b+c+d+e)/5)

Enter a value 5
Enter a value 5
Enter a value 5
Enter a value 5
Enter a value 5

5.0

In [49]:
#Q16. WAP to check whether a character entered by user is a vowel or not.

c=input("Enter a character: ").lower()

if c in 'aeiou':
    print("It is a vowel.")
else:
    print("It is not a vowel.")

Enter a character:  apple

It is not a vowel.

In [ ]:
for i in range(1, 31):
    if i % 4 == 0:
        continue
    print(i, end=" ")

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

a = a + b
b = a - b
a = a - b

print("After swapping:")
print("First number:", a)
print("Second number:", b)

In [ ]:
i = 100
while i >= 50:
    if i % 2 != 0:
        print(i, end=" ")
    i -= 1

In [ ]:
count = 0

for i in range(10):
    num = int(input(f"Enter number {i+1}: "))
    if num > 0:
        count += 1

print("Number of positive numbers:", count)

In [2]:
def Even():
    i=2
    while i<51:
        print(i)
        i+=2

Even()

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [6]:
def marks(*marks):
    print("All marks:",marks)
    print(sum(marks))

marks(12, 23, 34)

All marks: (12, 23, 34)
69

In [9]:
def square(n):
    return n ** 2

square(3)

9

In [10]:
def add(a, b):
    return a + b

add(5, 6)

11

In [13]:
def is_even(n):
    return n % 2 == 0

is_even(6)

True

In [14]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

factorial(5)

120

In [16]:
def largest(lst):
    return max(lst)

largest([1, 5, 9, 14, 5])

14

In [27]:
def reverse_string(s):
    for i in range(len(s)-1, -1, -1):
        print(s[i],  end=" ") 

reverse_string("mannan")

n a n n a m

In [31]:
def fibonacci(n):
    l = [0, 1]
    for i in range(2, n):
        l.append(l[-1] + l[-2])
    return l[:n]

fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [51]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    print(count)

count_vowels("apple")

2

In [53]:
def sum_args(*args):
    return sum(args)

sum_args(32, 54, 24)

110

In [84]:
def is_palindrome(s):
    reversed_s = ""
    for i in range(len(s)-1, -1, -1):
        reversed_s+=s[i]
    print(f"Reversed: {reversed_s}")
    
    if s == reversed_s:
        print(f"{s} is a palindrome")
    else:
        print(f"{s} is not a palindrome")

is_palindrome("naman")

Reversed: naman
naman is a palindrome

In [46]:
a = [1, 2, 3]
print(a)
a.append(5)
print(a)
a.insert(1,7)
print(a)
a.pop(1)
print(a)
a.remove(5)
print(a)
a.reverse()
print(a)
a.sort()
print(a)
a.clear()
print(a)
a.extend([1, 2, 3])
print(a)
print(a.index(3))
print(a.count(1))

[1, 2, 3]
[1, 2, 3, 5]
[1, 7, 2, 3, 5]
[1, 2, 3, 5]
[1, 2, 3]
[3, 2, 1]
[1, 2, 3]
[]
[1, 2, 3]
2
1

In [53]:
l = []
i = 1
while i<51:
    l.append(i)
    i+=1

for i in l:
    if i<1:
        continue
    for m in range(2, i):
        if i%m==0:
            print(f"{i} is a not prime number")
            break

    else:
        print(f"{i} is a prime number")
        i+=1

1 is a prime number
2 is a prime number
3 is a prime number
4 is a not prime number
5 is a prime number
6 is a not prime number
7 is a prime number
8 is a not prime number
9 is a not prime number
10 is a not prime number
11 is a prime number
12 is a not prime number
13 is a prime number
14 is a not prime number
15 is a not prime number
16 is a not prime number
17 is a prime number
18 is a not prime number
19 is a prime number
20 is a not prime number
21 is a not prime number
22 is a not prime number
23 is a prime number
24 is a not prime number
25 is a not prime number
26 is a not prime number
27 is a not prime number
28 is a not prime number
29 is a prime number
30 is a not prime number
31 is a prime number
32 is a not prime number
33 is a not prime number
34 is a not prime number
35 is a not prime number
36 is a not prime number
37 is a prime number
38 is a not prime number
39 is a not prime number
40 is a not prime number
41 is a prime number
42 is a not prime number
43 is a prime number
44 is a not prime number
45 is a not prime number
46 is a not prime number
47 is a prime number
48 is a not prime number
49 is a not prime number
50 is a not prime number

In [8]:
a = int(input("enter number:"))
m=1

for i in range(1,a+1):
    m=m*i

print(m)

enter number: 5

120

In [20]:
d = {}
print(type(d))

s = set()
print(type(s))

<class 'dict'>
<class 'set'>

In [11]:
l = []
i = 1
while i<51:
    l.append(i)
    i+=1
print("Original List:")
print(l)

t = 0
for m in l: 
    l[t] = l[t]**2
    t+=1
print("\nSquare of List:")
print(l)

Original List:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

Square of List:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]